body {
    font-family: Arial, Helvetica, sans-serif;
}

#content-box {
    width: 500px;
    height: 500px;
    border: 10px solid lightgray;
    border-radius: 10px;

    background-color: green; 
    
    margin: 0 auto;
    margin-top: 60px;
 
}

#pokemon-info {
    width: 250px;
    
}